body{
	background-attachment: fixed;
	background-image: url("../img/pitneybowes_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#container{
	background-color: white;
	border-radius: 0;
	border: solid #6495ED 1px;
	margin: 0 auto;
	width: 100%;
}

#titulo{
	text-align: center;
}

.cor_nav_bar{
	background-color: #6495ED;
	color: white;
}

.card-largura {
	max-width: 18rem;
	text-align: center;
}

.link{
	cursor: default;
}

.link:hover{
	background-color: #6495ED;
	color: white;
	width: 105%;
}

.botao-cor-especial{
	background-color: whitesmoke;
	border: solid 1px #6495ED;
}

.botao-cor-especial:hover{
	background-color: white;
	color: blue;
	cursor: pointer;
	text-decoration: underline;
	width: 60%;
}

.footer{
	background-color: #6495ED;
}