.card-largura {
	max-width: 18rem;
	text-align: center;
}

body{
	background-image: url("../img/2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*background-size: cover;
	background-position: left center;*/
}

#titulo{
	text-align: center;
}

#container{
	width: 100%;
	margin: 0 auto;
	background-color: white;
	border: solid #6495ED 1px;
	border-radius: 8px;
}

.link{
	cursor: pointer;
}

.link:hover{
	background-color: #6495ED;
	width: 105%;
	color: white;
}

.botao-cor-especial{
	border: solid 1px #6495ED;
	background-color: whitesmoke;
}



.botao-cor-especial:hover{
	width: 60%;
	cursor: pointer;
	background-color: white;
	color: blue;
	text-decoration: underline;
}

.cor_nav_bar{
	background-color: #6495ED;
	color: white;
}

